In [87]:
import pandas as pd

In [88]:
#Q.1 load the data
df = pd.read_csv('FitBit Data.csv')

In [89]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [90]:
#Q.2 Convert date
df['converted_ActivityDate'] = pd.to_datetime(df['ActivityDate'])

In [91]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,converted_ActivityDate
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819,2016-03-25
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154,2016-03-26
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944,2016-03-27
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932,2016-03-28
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886,2016-03-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,2016-04-08
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,2016-04-09
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,2016-04-10
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,2016-04-11
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938,2016-04-12

In [92]:
#Q. 4 Unique id
df['Id'].unique()

array([1503960366, 1624580081, 1644430081, 1844505072, 1927972279,
       2022484408, 2026352035, 2320127002, 2347167796, 2873212765,
       2891001357, 3372868164, 3977333714, 4020332650, 4057192912,
       4319703577, 4388161847, 4445114986, 4558609924, 4702921684,
       5553957443, 5577150313, 6117666160, 6290855005, 6391747486,
       6775888955, 6962181067, 7007744171, 7086361926, 8053475328,
       8253242879, 8378563200, 8583815059, 8792009665, 8877689391],
      dtype=int64)

In [93]:
#Q.6 Not logged there activity
df['LoggedActivitiesDistance'] == 0

0      True
1      True
2      True
3      True
4      True
       ...
452    True
453    True
454    True
455    True
456    True
Name: LoggedActivitiesDistance, Length: 457, dtype: bool

In [94]:
#Q.7 Laziest person
df[df['TotalSteps'] == min(df['TotalSteps'])]['Id']

51     1844505072
52     1844505072
59     1844505072
96     2320127002
97     2320127002
          ...
402    8253242879
403    8253242879
404    8253242879
405    8253242879
412    8253242879
Name: Id, Length: 61, dtype: int64

In [95]:
#Q. 10 Third most active person
df['TotalSteps'].nlargest(3).iloc[[-1]]

391    25701
Name: TotalSteps, dtype: int64

In [96]:
df1 = pd.read_csv('Superstore_USA.xlsx - Orders (1).csv')

In [97]:
df1

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,5/28/2012,5/30/2012,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,7/7/2010,7/8/2010,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,7/27/2011,7/28/2011,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,7/27/2011,7/28/2011,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,7/27/2011,7/27/2011,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,5/14/2013,5/15/2013,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,5/14/2013,5/14/2013,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,9/12/2013,9/14/2013,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2/8/2010,2/11/2010,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,9/12/2013,9/14/2013,78.062400,23,172.48,87533

In [98]:
df2 = pd.read_csv('Superstore_USA1.csv')

In [99]:
df2

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [100]:
df3= pd.read_csv('Superstore_USA.xlsx - Returns.csv')

In [101]:
df3

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

In [102]:
df3.columns

Index(['Order ID', 'Status'], dtype='object')

In [103]:
#Q. Join Return and Orders
pd.concat([df1, df3])

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,18606.0,Not Specified,0.01,2.88,0.50,2.0,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101.0,5/28/2012,5/30/2012,1.3200,2.0,5.90,88525,NaN
1,20847.0,High,0.01,2.84,0.93,3.0,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221.0,7/7/2010,7/8/2010,4.5600,4.0,13.01,88522,NaN
2,23086.0,Not Specified,0.03,6.68,6.15,3.0,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221.0,7/27/2011,7/28/2011,-47.6400,7.0,49.92,88523,NaN
3,23087.0,Not Specified,0.01,5.68,3.60,3.0,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221.0,7/27/2011,7/28/2011,-30.5100,7.0,41.64,88523,NaN
4,23088.0,Not Specified,0.00,205.99,2.50,3.0,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221.0,7/27/2011,7/27/2011,998.2023,8.0,1446.67,88523,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182681,Returned
1630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182683,Returned
1631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182750,Returned
1632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182781,Returned
1633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182906,Returned

In [104]:
df1.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID'],
      dtype='object')

In [105]:
#Q. Unique customer id
df1['Customer ID'].unique()

array([   2,    3,    5, ..., 3400, 3402, 3403], dtype=int64)

In [106]:
#Q. How many regions
df2[['Region', 'Manager']]

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

In [107]:
df1['converted_order_date'] = pd.to_datetime(df1['Order Date'])

In [108]:
df1

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,converted_order_date
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,5/28/2012,5/30/2012,1.320000,2,5.90,88525,2012-05-28
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,7/7/2010,7/8/2010,4.560000,4,13.01,88522,2010-07-07
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,7/27/2011,7/28/2011,-47.640000,7,49.92,88523,2011-07-27
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,7/27/2011,7/28/2011,-30.510000,7,41.64,88523,2011-07-27
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,7/27/2011,7/27/2011,998.202300,8,1446.67,88523,2011-07-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,5/14/2013,5/15/2013,137.860000,13,447.87,87532,2013-05-14
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,5/14/2013,5/14/2013,-39.070000,3,13.23,87532,2013-05-14
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,West Virginia,Charleston,25314,9/12/2013,9/14/2013,-1225.029097,4,2215.93,87533,2013-09-12
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Wyoming,Cheyenne,82001,2/8/2010,2/11/2010,349.485000,5,506.50,87530,2010-02-08
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Wyoming,Cheyenne,82001,9/12/2013,9/14/2013,78.062400,23,172.48,87533,2013-09-12

In [109]:
df1['converted_ship_date'] = pd.to_datetime(df1['Ship Date'])

In [110]:
df1

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,converted_order_date,converted_ship_date
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Addison,60101,5/28/2012,5/30/2012,1.320000,2,5.90,88525,2012-05-28,2012-05-30
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,7/7/2010,7/8/2010,4.560000,4,13.01,88522,2010-07-07,2010-07-08
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,7/27/2011,7/28/2011,-47.640000,7,49.92,88523,2011-07-27,2011-07-28
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Anacortes,98221,7/27/2011,7/28/2011,-30.510000,7,41.64,88523,2011-07-27,2011-07-28
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Anacortes,98221,7/27/2011,7/27/2011,998.202300,8,1446.67,88523,2011-07-27,2011-07-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,Charleston,25314,5/14/2013,5/15/2013,137.860000,13,447.87,87532,2013-05-14,2013-05-15
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,Charleston,25314,5/14/2013,5/14/2013,-39.070000,3,13.23,87532,2013-05-14,2013-05-14
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,Charleston,25314,9/12/2013,9/14/2013,-1225.029097,4,2215.93,87533,2013-09-12,2013-09-14
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Cheyenne,82001,2/8/2010,2/11/2010,349.485000,5,506.50,87530,2010-02-08,2010-02-11
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Cheyenne,82001,9/12/2013,9/14/2013,78.062400,23,172.48,87533,2013-09-12,2013-09-14

In [111]:
#Q. Difference in days
df1['Difference_date']= df1['converted_ship_date']-df1['converted_order_date']

In [112]:
df1

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,converted_order_date,converted_ship_date,Difference_date
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,60101,5/28/2012,5/30/2012,1.320000,2,5.90,88525,2012-05-28,2012-05-30,2 days
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,7/7/2010,7/8/2010,4.560000,4,13.01,88522,2010-07-07,2010-07-08,1 days
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,7/27/2011,7/28/2011,-47.640000,7,49.92,88523,2011-07-27,2011-07-28,1 days
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,98221,7/27/2011,7/28/2011,-30.510000,7,41.64,88523,2011-07-27,2011-07-28,1 days
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,98221,7/27/2011,7/27/2011,998.202300,8,1446.67,88523,2011-07-27,2011-07-27,0 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,25314,5/14/2013,5/15/2013,137.860000,13,447.87,87532,2013-05-14,2013-05-15,1 days
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,25314,5/14/2013,5/14/2013,-39.070000,3,13.23,87532,2013-05-14,2013-05-14,0 days
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,25314,9/12/2013,9/14/2013,-1225.029097,4,2215.93,87533,2013-09-12,2013-09-14,2 days
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,82001,2/8/2010,2/11/2010,349.485000,5,506.50,87530,2010-02-08,2010-02-11,3 days
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,82001,9/12/2013,9/14/2013,78.062400,23,172.48,87533,2013-09-12,2013-09-14,2 days

In [114]:
#Q. Unique postal code
df1['Postal Code'].unique()

array([60101, 98221, 91776, ..., 61832, 62521, 26554], dtype=int64)